@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --indent: -17px;
    --main-color: #151515;
    --black: #000;
    --secondary-color: #FCB357;
    --secondary-color-dark: #c48a43;
    --secondary-color-darker: #956831;
    --white: #fff;
    --grey: #e3e3e3;
    --dark-grey: #bebebe;
    --darkest-grey: #444;
    --sub-title: #8D8180;
    --footer-text: #ffffff99;
    --post-text-color: #E6A859;
}

::-webkit-scrollbar {
    width: 0;
}

.orange {
    color: var(--secondary-color);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 600;
    color: var(--white);
}

h2,
h3,
h4,
h5,
h6 {
    position: relative;
    font-size: 48px;
    line-height: 72px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-size: 45px;
    line-height: 55px;
    margin-bottom: 144px;
}

h2 {
    padding-top: 63px;
    letter-spacing: 1px;
    margin-bottom: 123px;
}

h4 {
    padding: 85px 0 6px 0;
    letter-spacing: 2.6px;
}

h5 {
    padding-top: 73px;
    letter-spacing: 1.5px;
}

h6 {
    line-height: 74px;
    padding: 80px 0 4px 0;
    letter-spacing: 1.5px;
}

a {
    text-decoration: none;
}

/* big line */
.lines::after {
    content: "";
    width: 73px;
    height: 3px;
    border-radius: 60px;
    position: absolute;
    background-color: var(--white);
    left: 50%;
    transform: translate(-50%, 0);
    bottom: var(--indent);
}

/* small line */
.lines::before {
    content: "";
    width: 25px;
    height: 3px;
    border-radius: 60px;
    position: absolute;
    background-color: var(--white);
    transform: translate(-50%, 0);
    left: 50%;
    bottom: calc(var(--indent) - 19px);
}

h3 {
    color: var(--secondary-color);
    padding-top: 81px;
    font-size: 48px;
    margin-bottom: 133px;
    letter-spacing: 2px;
    line-height: 72px;
}

h3 span {
    color: var(--white);
}

button {
    border: 0;
    padding: 0;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    width: 100%;
    min-width: 85px;
    max-width: 190px;
    height: auto;
    min-height: 55px;
    border-radius: 27px;
    color: white;
    transition: .5s;
    box-shadow: 0px 0px 19px 8px rgba(252, 179, 87, 0.5);
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

button:hover {
    background-color: #d69648;
    border-color: #d69648;
}

button:active {
    background-color: #a87538;
    border-color: #a87538;
}

button:focus {
    outline: none;
}

.navbar {
    background-color: var(--main-color);
    height: auto;
    min-height: 115px;
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar .container {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1423px
}

.navbar-collapse {
    flex-grow: unset;
    width: 100%;
    justify-content: space-between;
}

.sidepanel {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    box-shadow: 5px 0px 23px 0px var(--black);
    overflow: hidden;
    padding-top: 60px;
    transition: .5s;
}

.sidepanel a {
    font-family: 'Poppins', sans-serif;
    white-space: nowrap;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: var(--white);
    display: block;
    transition: 0.3s;
}

.sidepanel a:hover {
    color: var(--dark-grey);
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    cursor: pointer;
    border: none;
}

.openbtn:hover {
    background-color: var(--darkest-grey);
}

.navbar-nav {
    width: 100%;
    max-width: 685px;
    display: flex;
    justify-content: space-between;
    font-family: Poppins, sans-serif;
    font-weight: 100;
    margin-left: 12%;
    letter-spacing: 1px;
}

.navbar-nav .nav-item .nav-link {
    padding: 0;
}

.nav-item {
    padding-right: 9px;
    word-spacing: -1px;
}

.navbar-nav .nav-item .nav-link:hover {
    font-weight: 600;
    color: var(--white);
    margin: 0 37.5px;
}

.navbar-nav .nav-item:first-child a:hover {
    margin: 0 75px 0 0;
}

.navbar-nav .nav-item:last-child a:hover {
    margin: 0 0 0 75px;
}

.nav-link:active {
    color: rgb(194, 194, 194);
}

.nav-link:hover::after {
    content: "";
    position: absolute;
    background-color: var(--white);
    width: 15px;
    height: 2px;
    bottom: -42%;
    left: 39%;
}

.nav-link:active::after {
    background-color: rgb(194, 194, 194);
}

.nav-link {
    color: var(--white);
    position: relative;
    transition: .3s;
}

.navbar-toggler {
    position: absolute;
    padding: 0;
    left: 10px;
    top: 20%;
    box-shadow: none;
    background: url("data:image/svg+xml,%3Csvg width='20' height='24' viewBox='0 0 20 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16.6667' height='3.33333' rx='1.66667' fill='white'/%3E%3Crect y='20' width='20' height='3.33333' rx='1.66667' fill='white'/%3E%3Crect y='10' width='13.3333' height='3.33333' rx='1.66667' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    width: 20px;
    height: auto;
    background-position: center;
    background-size: 40%;
}

/* ############################################FIRST SCREEN */

.first-screen .circle {
    display: none;
}

.first-screen {
    background: url(../img/first-screen/bg-pic.jpg) no-repeat center;
    background-position-y: -31px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 102.8vh; */
    min-height: 976.5px;
}

h1,
.first-screen-container ul li {
    color: var(--white);
}

.first-screen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 51px;
}

.first-screen-container ul {
    list-style-type: none;
    padding: 0;
    padding-bottom: 50px;
    width: 100%;
    max-width: 540px;
    text-transform: uppercase;
    margin: 0;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}

.first-screen-container ul li {
    letter-spacing: -1.5px;
    display: inline;
    font-size: 16px;
    position: relative;
}

.first-screen-container li::after {
    content: "";
    width: 1px;
    height: 25px;
    background-color: var(--white);
    position: absolute;
    top: -1px;
    right: -47px;
}

.first-screen-container li:first-child::before {
    content: "";
    width: 1px;
    height: 25px;
    top: -1px;
    background-color: var(--white);
    position: absolute;
    left: -44px;
}

.first-screen-container button {
    max-width: 321px;
    min-height: 77px;
    border-radius: 60px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 1px;
    margin-left: -2px;
}

.btn-feedback {
    background: transparent;
    box-shadow: none;
    color: var(--secondary-color);
    margin-right: 16px;
    font-size: 14px;
}

.btn-feedback:hover {
    color: white;
    box-shadow: 0px 0px 19px 8px rgba(252, 179, 87, 0.5);
}

/* ###############################################About us */

.about-us {
    position: relative;
}

.about-us-container {
    max-width: 1314px;
    margin: 0 auto;
    padding-left: 42px;
    display: grid;
    grid-template-columns: 1.47fr 1.2fr;
    grid-template-rows: auto auto;
    gap: 0 17.5%;
    grid-auto-flow: row;
    grid-template-areas:
        "first-pic description"
        "first-pic second-pic";
    padding-bottom: 157px;
}

.first-pic {
    grid-area: first-pic;
    max-width: 523px;
    z-index: 2;
    position: relative;
    margin-left: 33px;
}

.second-pic {
    grid-area: second-pic;
    max-width: 474px;
    margin: auto 0;
    z-index: 2;
    margin-top: 53px;
}

.first-pic img,
.second-pic img {
    width: 100%;
    height: auto;
}

.first-pic img {
    box-shadow: -50px -49px 0px -33px var(--secondary-color),
        -53px -34px 0px -36px var(--secondary-color);
}

.description {
    max-width: 439px;
    color: var(--white);
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.description p {
    font-size: 14px;
    letter-spacing: .5px;
    margin-bottom: 21px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    max-width: 469px;
}

.description .read-more {
    user-select: none;
    cursor: pointer;
    color: var(--secondary-color);
    padding-left: 12.5%;
    position: relative;
    display: inline;
    margin: 0;
    margin-top: 16px;
}

.read-more:hover {
    color: var(--secondary-color-dark);
}

.read-more:active {
    color: var(--secondary-color-darker);
}

.read-more::before {
    content: "";
    width: 7.7%;
    height: 2px;
    background-color: var(--secondary-color);
    position: absolute;
    border-radius: 60px;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.read-more:hover::before {
    background-color: var(--secondary-color-dark);
}

.read-more:active::before {
    background-color: var(--secondary-color-darker);
}

.figures {
    width: 100%;
    max-width: 59px;
    position: absolute;
    bottom: 47px;
    left: 90px;
    z-index: 1;
}

/* ###############################################Our works */

.our-works {
    min-height: 1074px;
    position: relative;
}

.our-works .container {
    max-width: 1393px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
}

.slider {
    display: flex;
}

.slick-track {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 510px;
}

.slider-item {
    padding: 0 36px;
    transition: .5s;
    position: relative;
}

.slider-tools {
    margin: 103px 34px 0 0;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0;
}

.slick-center {
    transform: scale(1.11);
}

.slick-center .title-price {
    display: block;
}

.slick-center .item-title {
    top: 55.7%;
}

.item-title {
    position: absolute;
    width: max-content;
    top: 51.6%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title-name {
    font-family: 'Poppins', sans-serif;
    width: auto;
    color: var(--white);
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}

.slick-center .title-name {
    letter-spacing: -1px;
}

.title-price {
    font-family: 'Poppins', sans-serif;
    color: var(--white);
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    display: none;
}

.slider-tools-btns {
    display: flex;
    width: 100%;
    max-width: 166px;
}

.slider-tools-btns .slick-next,
.slider-tools-btns .slick-prev {
    border-radius: 0;
    min-height: 45px;
    max-width: 71px;
    font-size: 0;
    width: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
    box-shadow: none;
}

.slick-next {
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='13' viewBox='0 0 27 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='5.25' y='7.7666' width='3.1067' height='21.747' transform='rotate(-90 5.25 7.7666)' fill='white'/%3E%3Cpath d='M0.59375 6.21335L6.41883 0.832378L6.41883 11.5943L0.59375 6.21335Z' fill='white'/%3E%3C/svg%3E%0A");
    transform: rotate(180deg);
}

.slick-prev {
    margin-right: 25px;
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='13' viewBox='0 0 27 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='5.25' y='7.7666' width='3.1067' height='21.747' transform='rotate(-90 5.25 7.7666)' fill='white'/%3E%3Cpath d='M0.59375 6.21335L6.41883 0.832378L6.41883 11.5943L0.59375 6.21335Z' fill='white'/%3E%3C/svg%3E%0A");
}

.slick-prev:hover {
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='13' viewBox='0 0 27 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='3.1067' height='21.747' transform='matrix(0 -1 -1 0 21.75 7.7666)' fill='%231E1E1E'/%3E%3Cpath d='M26.4062 6.21335L20.5812 0.832378V11.5943L26.4062 6.21335Z' fill='%231E1E1E'/%3E%3C/svg%3E%0A");
    transform: rotate(180deg);
}

.slick-next:hover {
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='13' viewBox='0 0 27 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='3.1067' height='21.747' transform='matrix(0 -1 -1 0 21.75 7.7666)' fill='%231E1E1E'/%3E%3Cpath d='M26.4062 6.21335L20.5812 0.832378V11.5943L26.4062 6.21335Z' fill='%231E1E1E'/%3E%3C/svg%3E%0A");
    transform: rotate(0deg);
}

.slick-prev:hover,
.slick-next:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.slick-next:active,
.slick-prev:active {
    background-color: var(--secondary-color-dark);
}

.slider-tools-counter {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-right: 58px;
    font-size: 32px;
    color: var(--white);
}

.num {
    color: var(--secondary-color);
}

.bg-figure {
    width: 225px;
    height: 225px;
    left: -46px;
    bottom: -74px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg width='133' height='225' viewBox='0 0 133 225' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.9999 0C-36.2159 0 -85 50.3506 -85 112.5C-85 174.649 -36.2159 225 23.9999 225C84.2157 225 133 174.649 133 112.5C133.133 50.3506 84.2157 0 23.9999 0ZM23.9999 181.372C-12.8208 181.372 -42.7293 150.503 -42.7293 112.5C-42.7293 74.4969 -12.8208 43.628 23.9999 43.628C60.8206 43.628 90.729 74.4969 90.729 112.5C90.729 150.64 60.9535 181.372 23.9999 181.372Z' fill='%231C1C1C'/%3E%3C/svg%3E%0A");
}

/* ###############################################How We Work */

.how-work {
    position: relative;
    min-height: 1086px;
}

.how-work .container {
    margin-top: 238px;
    max-width: 1379px;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    padding: 0 12px;
}

.how-work-elements {
    width: 100%;
    max-width: 293px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.how-work .delivery {
    margin-right: 15px;
}

.how-work-elements img,
.arrow-left,
.arrow-right {
    width: 100%;
    height: auto;
}

.make-order img {
    max-width: 167px;
    margin-top: -20px;
    margin-left: 10px;
}

.delivery img {
    max-width: 230px;
    margin-right: -15px;
    margin-top: 1px;
}

.instalation img {
    max-width: 174px;
    margin-right: 4px;
}

.how-work .how-work-elements .title {
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    margin-top: 52px;
    letter-spacing: 1px;
}

.how-work .delivery .title {
    padding-left: 25px;
}

.how-work .make-order .title {
    margin-top: 51px;
    max-width: 206px;
    margin-right: 35px;
}

.how-work .instalation .title {
    margin-top: 39px;
    padding-left: 31px;
    letter-spacing: .5px;
}

.how-work .how-work-elements .subtitle {
    font-family: 'Poppins', sans-serif;
    color: var(--sub-title);
    margin-top: 15px;
    letter-spacing: .4px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 0;
}

.how-work .instalation .subtitle {
    padding-left: 15px;
}

.how-work .make-order .subtitle {
    padding-right: 11px;
}

.arrow-left {
    max-width: 209px;
    margin-right: 19px;
}

.arrow-right {
    /* margin-right: -13px;
    margin-top: 20px;
    max-width: 241px; */
    margin-right: -5px;
    margin-top: 22px;
    max-width: 241px;
}

.figure {
    width: 100%;
    max-width: 204px;
    height: 59px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/how-we-works/figures.png);
    position: absolute;
    right: 60px;
    bottom: 76px;
}

/* ############################################### Reviews */

.reviews {
    min-height: 1080px;
}

.reviews .container {
    max-width: 1390px;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    min-height: 238px;
    margin-top: 166px;
}

.reviews .mt {
    margin-top: 63px;
}

.review-block {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='22' viewBox='0 0 26 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 3V14C12 15.0833 11.7865 16.1198 11.3594 17.1094C10.9427 18.0885 10.375 18.9375 9.65625 19.6562C8.9375 20.375 8.08333 20.9479 7.09375 21.375C6.11458 21.7917 5.08333 22 4 22H3C2.72917 22 2.49479 21.901 2.29688 21.7031C2.09896 21.5052 2 21.2708 2 21V19C2 18.7292 2.09896 18.4948 2.29688 18.2969C2.49479 18.099 2.72917 18 3 18H4C5.10417 18 6.04688 17.6094 6.82813 16.8281C7.60938 16.0469 8 15.1042 8 14V13.5C8 13.0833 7.85417 12.7292 7.5625 12.4375C7.27083 12.1458 6.91667 12 6.5 12H3C2.16667 12 1.45833 11.7083 0.875 11.125C0.291667 10.5417 0 9.83333 0 9V3C0 2.16667 0.291667 1.45833 0.875 0.874999C1.45833 0.291665 2.16667 -1.19209e-06 3 -1.19209e-06H9C9.83333 -1.19209e-06 10.5417 0.291665 11.125 0.874999C11.7083 1.45833 12 2.16667 12 3ZM26 3V14C26 15.0833 25.7865 16.1198 25.3594 17.1094C24.9427 18.0885 24.375 18.9375 23.6563 19.6562C22.9375 20.375 22.0833 20.9479 21.0938 21.375C20.1146 21.7917 19.0833 22 18 22H17C16.7292 22 16.4948 21.901 16.2969 21.7031C16.099 21.5052 16 21.2708 16 21V19C16 18.7292 16.099 18.4948 16.2969 18.2969C16.4948 18.099 16.7292 18 17 18H18C19.1042 18 20.0469 17.6094 20.8281 16.8281C21.6094 16.0469 22 15.1042 22 14V13.5C22 13.0833 21.8542 12.7292 21.5625 12.4375C21.2708 12.1458 20.9167 12 20.5 12H17C16.1667 12 15.4583 11.7083 14.875 11.125C14.2917 10.5417 14 9.83333 14 9V3C14 2.16667 14.2917 1.45833 14.875 0.874999C15.4583 0.291665 16.1667 -1.19209e-06 17 -1.19209e-06H23C23.8333 -1.19209e-06 24.5417 0.291665 25.125 0.874999C25.7083 1.45833 26 2.16667 26 3Z' fill='white' fill-opacity='0.1'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: calc(100% - 28px) 37px;
    max-width: 670px;
    width: 100%;
    box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.25);
    min-height: 238px;
}

.review-block .content {
    padding: 33px 67px 26px 19px;
    color: var(--white);
    margin: 0;
}

.review-block img {
    border-radius: 75px;
    max-width: 115px;
    flex-shrink: 2;
    width: 100%;
    height: auto;
    float: left;
}

.review-block .info {
    padding-left: 144px;
}

.review-block .info .post,
.review-block .info .name,
.review-block .info .review-text {
    margin: 0;
}

.review-block .info .post {
    color: var(--post-text-color);
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: .5px;
}

.review-block .info .name {
    font-family: 'Poppins', sans-serif;
    letter-spacing: .5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin-top: 7px;
}

.review-block .info .review-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    margin-top: 17px;
    letter-spacing: .4px;
}

.social-networks-icons {
    display: flex;
    margin: 34px 0 0 143px;
}

.social-networks-icons .ico {
    width: 100%;
    height: 25px;
    border-radius: 75px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.link {
    display: block;
    max-width: 26px;
    width: 100%;
    margin-right: 16px;
}

.facebook {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='26' height='26' rx='13' fill='%23233C4E'/%3E%3Cpath d='M15.4219 6.79464V8.5625H14.3705C13.9866 8.5625 13.7277 8.64286 13.5938 8.80357C13.4598 8.96429 13.3929 9.20536 13.3929 9.52679V10.7924H15.3549L15.0938 12.7746H13.3929V17.8571H11.3438V12.7746H9.63616V10.7924H11.3438V9.33259C11.3438 8.50223 11.5759 7.85937 12.0402 7.40402C12.5045 6.9442 13.1228 6.71428 13.8951 6.71428C14.5513 6.71428 15.0603 6.74107 15.4219 6.79464Z' fill='white'/%3E%3C/svg%3E%0A");
}

.instagram {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='26' height='26' rx='13' fill='url(%23paint0_linear_3_6)'/%3E%3Cpath d='M17.1205 17.2634V12.9241H16.2165C16.3058 13.2054 16.3504 13.4978 16.3504 13.8013C16.3504 14.3638 16.2076 14.8839 15.9219 15.3616C15.6362 15.8348 15.2478 16.2098 14.7567 16.4866C14.2656 16.7634 13.7299 16.9018 13.1496 16.9018C12.2701 16.9018 11.5179 16.6004 10.8929 15.9978C10.2679 15.3906 9.95536 14.6585 9.95536 13.8013C9.95536 13.4978 10 13.2054 10.0893 12.9241H9.14509V17.2634C9.14509 17.3795 9.18304 17.4777 9.25893 17.558C9.33929 17.6339 9.4375 17.6719 9.55357 17.6719H16.7121C16.8237 17.6719 16.9196 17.6339 17 17.558C17.0804 17.4777 17.1205 17.3795 17.1205 17.2634ZM14.6094 15.1138C15.0156 14.721 15.2188 14.2478 15.2188 13.6942C15.2188 13.1406 15.0156 12.6696 14.6094 12.2812C14.2076 11.8884 13.721 11.692 13.1496 11.692C12.5826 11.692 12.096 11.8884 11.6897 12.2812C11.2879 12.6696 11.0871 13.1406 11.0871 13.6942C11.0871 14.2478 11.2879 14.721 11.6897 15.1138C12.096 15.5022 12.5826 15.6964 13.1496 15.6964C13.721 15.6964 14.2076 15.5022 14.6094 15.1138ZM17.1205 11.2835V10.1786C17.1205 10.0536 17.0759 9.94643 16.9866 9.85714C16.8973 9.76339 16.7879 9.71652 16.6585 9.71652H15.4933C15.3638 9.71652 15.2545 9.76339 15.1652 9.85714C15.0759 9.94643 15.0312 10.0536 15.0312 10.1786V11.2835C15.0312 11.4129 15.0759 11.5223 15.1652 11.6116C15.2545 11.7009 15.3638 11.7455 15.4933 11.7455H16.6585C16.7879 11.7455 16.8973 11.7009 16.9866 11.6116C17.0759 11.5223 17.1205 11.4129 17.1205 11.2835ZM18.2857 9.89062V17.5379C18.2857 17.8996 18.1563 18.2098 17.8973 18.4688C17.6384 18.7277 17.3281 18.8571 16.9665 18.8571H9.3192C8.95759 18.8571 8.64732 18.7277 8.38839 18.4688C8.12946 18.2098 8 17.8996 8 17.5379V9.89062C8 9.52902 8.12946 9.21875 8.38839 8.95982C8.64732 8.70089 8.95759 8.57143 9.3192 8.57143H16.9665C17.3281 8.57143 17.6384 8.70089 17.8973 8.95982C18.1563 9.21875 18.2857 9.52902 18.2857 9.89062Z' fill='white'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_3_6' x1='13' y1='0' x2='13' y2='26' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23D828DC'/%3E%3Cstop offset='0.177083' stop-color='%23F015A6'/%3E%3Cstop offset='1' stop-color='%23FFC90A'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}

.telegram {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='26' height='26' rx='13' fill='%23209CF7'/%3E%3Cpath d='M17.4531 9.82031C17.5938 9.16406 17.2188 8.90625 16.7969 9.07031L7.46875 12.6562C6.83594 12.9141 6.85938 13.2656 7.375 13.4297L9.74219 14.1562L15.2734 10.6875C15.5312 10.5 15.7891 10.6172 15.5781 10.7812L11.1016 14.8125L10.9375 17.2734C11.1953 17.2734 11.2891 17.1797 11.4297 17.0391L12.5781 15.9141L14.9922 17.6953C15.4375 17.9531 15.7656 17.8125 15.8828 17.2969L17.4531 9.82031Z' fill='white'/%3E%3C/svg%3E%0A");
}

.vk {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='26' height='26' rx='13' fill='%231E6CA4'/%3E%3Cpath d='M18.8371 10.1964C18.9397 10.4821 18.6049 11.1384 17.8326 12.1652C17.7254 12.308 17.5804 12.4978 17.3973 12.7344C17.0491 13.1808 16.8482 13.4732 16.7946 13.6116C16.7188 13.7946 16.75 13.9754 16.8884 14.154C16.9643 14.2478 17.1451 14.4308 17.4308 14.7031H17.4375L17.4442 14.7098L17.4509 14.7165L17.4643 14.7299C18.0938 15.3147 18.5201 15.808 18.7433 16.2098C18.7567 16.2321 18.7701 16.2612 18.7835 16.2969C18.8013 16.3281 18.817 16.3862 18.8304 16.471C18.8482 16.5558 18.8482 16.6317 18.8304 16.6987C18.8125 16.7656 18.7567 16.8281 18.6629 16.8862C18.5692 16.9397 18.4375 16.9665 18.2679 16.9665L16.5536 16.9933C16.4464 17.0156 16.3214 17.0045 16.1786 16.9598C16.0357 16.9152 15.9196 16.8661 15.8304 16.8125L15.6964 16.7321C15.5625 16.6384 15.4063 16.4955 15.2277 16.3036C15.0491 16.1116 14.8951 15.9397 14.7656 15.7879C14.6406 15.6317 14.5045 15.5022 14.3571 15.3996C14.2143 15.2924 14.0893 15.2567 13.9821 15.2924C13.9688 15.2969 13.9509 15.3058 13.9286 15.3192C13.9063 15.3281 13.8683 15.3594 13.8147 15.4129C13.7612 15.4665 13.7121 15.5335 13.6674 15.6138C13.6272 15.6897 13.5893 15.8058 13.5536 15.9621C13.5223 16.1138 13.5089 16.2857 13.5134 16.4777C13.5134 16.5446 13.5045 16.6071 13.4866 16.6652C13.4732 16.7187 13.4576 16.7589 13.4397 16.7857L13.4129 16.8192C13.3326 16.904 13.2143 16.9531 13.058 16.9665H12.2879C11.971 16.9844 11.6451 16.9487 11.3103 16.8594C10.9754 16.7656 10.6808 16.6473 10.4263 16.5045C10.1763 16.3571 9.94643 16.2098 9.73661 16.0625C9.53125 15.9107 9.375 15.7812 9.26786 15.6741L9.10045 15.5134C9.0558 15.4687 8.9933 15.4018 8.91295 15.3125C8.83705 15.2232 8.67857 15.0201 8.4375 14.7031C8.19643 14.3862 7.95982 14.0491 7.72768 13.692C7.49554 13.3348 7.22098 12.8638 6.90402 12.279C6.59152 11.6942 6.30134 11.0871 6.03348 10.4576C6.0067 10.3862 5.9933 10.3259 5.9933 10.2768C5.9933 10.2277 6 10.192 6.01339 10.1696L6.04018 10.1295C6.10714 10.0446 6.23438 10.0022 6.42188 10.0022L8.2567 9.98884C8.31027 9.99777 8.36161 10.0134 8.41071 10.0357C8.45982 10.0536 8.49554 10.0714 8.51786 10.0893L8.55134 10.1094C8.62277 10.1585 8.67634 10.2299 8.71205 10.3237C8.80134 10.5469 8.90402 10.779 9.02009 11.0201C9.13616 11.2567 9.22768 11.4375 9.29464 11.5625L9.40179 11.7567C9.53125 12.0246 9.65625 12.2567 9.77679 12.4531C9.89732 12.6496 10.0045 12.8036 10.0982 12.9152C10.1964 13.0223 10.2902 13.1071 10.3795 13.1696C10.4688 13.2321 10.5446 13.2634 10.6071 13.2634C10.6696 13.2634 10.7299 13.2522 10.7879 13.2299C10.7969 13.2254 10.808 13.2143 10.8214 13.1964C10.8348 13.1786 10.8616 13.1295 10.9018 13.0491C10.942 12.9687 10.971 12.8638 10.9888 12.7344C11.0112 12.6049 11.0335 12.4241 11.0558 12.192C11.0781 11.9598 11.0781 11.6808 11.0558 11.3549C11.0469 11.1763 11.0268 11.0134 10.9955 10.8661C10.9643 10.7187 10.933 10.6161 10.9018 10.558L10.8616 10.4777C10.75 10.3259 10.5603 10.2299 10.2924 10.1897C10.2344 10.1808 10.2455 10.1272 10.3259 10.029C10.4018 9.9442 10.4866 9.87723 10.5804 9.82812C10.817 9.71205 11.3504 9.65848 12.1808 9.66741C12.5469 9.67187 12.8482 9.70089 13.0848 9.75446C13.1741 9.77679 13.2478 9.80804 13.3058 9.84821C13.3683 9.88393 13.4152 9.9375 13.4464 10.0089C13.4777 10.0759 13.5 10.1473 13.5134 10.2232C13.5313 10.2946 13.5402 10.3951 13.5402 10.5246C13.5402 10.654 13.5379 10.7768 13.5335 10.8929C13.529 11.0089 13.5223 11.1674 13.5134 11.3683C13.5089 11.5647 13.5067 11.7478 13.5067 11.9174C13.5067 11.9665 13.5045 12.0603 13.5 12.1987C13.4955 12.3371 13.4933 12.4442 13.4933 12.5201C13.4978 12.596 13.5067 12.6875 13.5201 12.7946C13.5335 12.8973 13.558 12.9844 13.5938 13.0558C13.6339 13.1228 13.6853 13.1763 13.7478 13.2165C13.7835 13.2254 13.8214 13.2344 13.8616 13.2433C13.9018 13.2522 13.9598 13.2277 14.0357 13.1696C14.1116 13.1116 14.1964 13.0357 14.2902 12.942C14.3839 12.8437 14.5 12.6942 14.6384 12.4933C14.7768 12.2879 14.9286 12.0469 15.0938 11.7701C15.3616 11.3058 15.6004 10.8036 15.8103 10.2634C15.8281 10.2187 15.8504 10.1808 15.8772 10.1496C15.904 10.1138 15.9286 10.0893 15.9509 10.0759L15.9777 10.0558C15.9866 10.0513 15.9978 10.0469 16.0112 10.0424C16.0246 10.0335 16.0536 10.0268 16.0982 10.0223C16.1429 10.0134 16.1875 10.0112 16.2321 10.0156L18.1607 10.0022C18.3348 9.97991 18.4777 9.98661 18.5893 10.0223C18.7009 10.0536 18.7701 10.0893 18.7969 10.1295L18.8371 10.1964Z' fill='white'/%3E%3C/svg%3E%0A");
}



.social-networks-icons .ico:last-child {
    margin-right: 0;
}

/* ############################################### Contact with us */

.contact-with {
    position: relative;
    min-height: 1090px;
}

.contact-with .container {
    margin-top: 175px;
    max-width: 1193px;
    padding: 0 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-with .container textarea,
.contact-with .container .user-data input {
    border: 0;
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 27px;
}

.contact-with .container .user-data {
    margin-bottom: 68px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.contact-with .container .user-data input {
    padding-left: 36px;
    padding-bottom: 4px;
    width: 100%;
    max-width: 550px;
    min-height: 66px;
}

.contact-with .container .user-data input::-webkit-input-placeholder,
.contact-with .container textarea::-webkit-input-placeholder {
    color: var(--white);
}

.contact-with .container textarea {
    padding: 28px 35px 0 35px;
    width: 100%;
    min-height: 264px;
    margin-bottom: 111px;
    display: flex;
    align-items: flex-start;
    resize: none;
}

.contact-with .container button {
    width: 100%;
    max-width: 324px;
    margin-right: 23px;
    min-height: 76px;
    border-radius: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
}

.contact-with .circles {
    position: absolute;
    top: 23px;
    left: -39px;
}

.contact-with .container .user-data input:first-child {
    margin-right: 10px;
}

.contact-with .container .user-data input:last-child {
    margin-left: 10px;
}

/* ############################################### Footer */

/* contacts */

footer {
    position: relative;
}

.container {
    padding: 0;
    display: flex;
}

.contacts .container {
    padding: 55px 0 52px 0;
    max-width: 1384px;
    align-items: center;
    justify-content: space-between;
}

.contacts,
.copyrights {
    border-top: 1px solid var(--white);
}

.map {
    background-image: url(../img/footer/map.png);
    box-shadow: none;
    border-radius: 0;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    border: none;
    color: var(--white);
    width: 100%;
    max-width: 550px;
    height: 240px;
    font-size: 24px;
    line-height: 36px;
    background-repeat: no-repeat;
}

.map:hover {
    text-decoration: underline;
    color: var(--grey);
}

.map:active {
    color: var(--dark-grey);
}

.close {
    box-shadow: none;
    width: min-content;
    color: var(--white);
}

.close:hover {
    background-color: transparent;
    color: var(--grey);
}

/* map */

.contact-info {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    width: 100%;
    max-width: 745px;
}

.hotline {
    padding-right: 20px;
}

.content {
    min-height: 162px;
    margin-bottom: 5px;
}

.contact-info .content .title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 30px;
    color: var(--white);
}

.subtitle-info {
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: .4px;
    margin: 0;
}

.mb {
    margin-bottom: 21px;
}

.social-networks {
    margin-top: 37px;
}

.social-networks {
    display: flex;
    margin-left: 1px;
}

.social-networks a {
    margin-right: 19px;
}

.social-networks a:last-child {
    margin-right: 0;
}

.social-networks a .ico {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 25px;
    height: 25px;
}

.social-networks a:first-child .ico {
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='26' viewBox='0 0 25 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.0413 21.2199V10.7333H19.8566C20.0724 11.4129 20.1802 12.1196 20.1802 12.8532C20.1802 14.2126 19.835 15.4695 19.1445 16.6239C18.4541 17.7675 17.5154 18.6737 16.3287 19.3426C15.1419 20.0115 13.8473 20.346 12.4448 20.346C10.3194 20.346 8.50149 19.6177 6.99107 18.1613C5.48065 16.694 4.72545 14.9247 4.72545 12.8532C4.72545 12.1196 4.83333 11.4129 5.04911 10.7333H2.7673V21.2199C2.7673 21.5004 2.859 21.7377 3.04241 21.9319C3.23661 22.1153 3.47396 22.207 3.75446 22.207H21.0541C21.3238 22.207 21.5558 22.1153 21.75 21.9319C21.9442 21.7377 22.0413 21.5004 22.0413 21.2199ZM15.9727 16.0251C16.9544 15.0757 17.4453 13.9321 17.4453 12.5943C17.4453 11.2565 16.9544 10.1183 15.9727 9.17969C15.0017 8.23028 13.8257 7.75558 12.4448 7.75558C11.0746 7.75558 9.89862 8.23028 8.91685 9.17969C7.94587 10.1183 7.46038 11.2565 7.46038 12.5943C7.46038 13.9321 7.94587 15.0757 8.91685 16.0251C9.89862 16.9637 11.0746 17.433 12.4448 17.433C13.8257 17.433 15.0017 16.9637 15.9727 16.0251ZM22.0413 6.76841V4.09821C22.0413 3.79613 21.9334 3.5372 21.7176 3.32143C21.5019 3.09487 21.2375 2.98158 20.9247 2.98158H18.1088C17.7959 2.98158 17.5316 3.09487 17.3158 3.32143C17.1001 3.5372 16.9922 3.79613 16.9922 4.09821V6.76841C16.9922 7.08129 17.1001 7.34561 17.3158 7.56138C17.5316 7.77716 17.7959 7.88504 18.1088 7.88504H20.9247C21.2375 7.88504 21.5019 7.77716 21.7176 7.56138C21.9334 7.34561 22.0413 7.08129 22.0413 6.76841ZM24.8571 3.40234V21.8834C24.8571 22.7573 24.5443 23.5071 23.9185 24.1328C23.2928 24.7586 22.543 25.0714 21.6691 25.0714H3.18806C2.31417 25.0714 1.56436 24.7586 0.938616 24.1328C0.312872 23.5071 0 22.7573 0 21.8834V3.40234C0 2.52846 0.312872 1.77864 0.938616 1.1529C1.56436 0.527157 2.31417 0.214284 3.18806 0.214284H21.6691C22.543 0.214284 23.2928 0.527157 23.9185 1.1529C24.5443 1.77864 24.8571 2.52846 24.8571 3.40234Z' fill='white'/%3E%3C/svg%3E%0A");
}

.social-networks a:nth-child(2) .ico {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='25' viewBox='0 0 26 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.8214 0.431641H2.18107C1.82639 0.431641 1.48624 0.572537 1.23544 0.823333C0.984646 1.07413 0.84375 1.41428 0.84375 1.76896V23.4093C0.84375 23.5849 0.878341 23.7588 0.945548 23.921C1.01275 24.0833 1.11126 24.2307 1.23544 24.3549C1.35962 24.4791 1.50705 24.5776 1.6693 24.6448C1.83155 24.712 2.00545 24.7466 2.18107 24.7466H13.8279V15.3245H10.667V11.6773H13.8279V8.94187C13.7624 8.29966 13.8383 7.6509 14.0501 7.04109C14.2619 6.43129 14.6045 5.8752 15.054 5.41184C15.5034 4.94848 16.0488 4.58906 16.6519 4.35879C17.255 4.12853 17.9011 4.03299 18.545 4.07888C19.4913 4.07306 20.4371 4.12177 21.3777 4.22477V7.50729H19.4447C17.9128 7.50729 17.6211 8.23673 17.6211 9.29443V11.6408H21.2683L20.7941 15.2881H17.6211V24.7466H23.8214C23.997 24.7466 24.1709 24.712 24.3331 24.6448C24.4954 24.5776 24.6428 24.4791 24.767 24.3549C24.8912 24.2307 24.9897 24.0833 25.0569 23.921C25.1241 23.7588 25.1587 23.5849 25.1587 23.4093V1.76896C25.1587 1.59334 25.1241 1.41944 25.0569 1.25719C24.9897 1.09494 24.8912 0.947515 24.767 0.823333C24.6428 0.699151 24.4954 0.600645 24.3331 0.533438C24.1709 0.466232 23.997 0.431641 23.8214 0.431641Z' fill='white'/%3E%3C/svg%3E%0A");
}

.social-networks a:last-child .ico {
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.1512 0.431641H8.69205C1.87878 0.431641 0.257812 2.05261 0.257812 8.85319V16.3123C0.257812 23.1255 1.86617 24.7466 8.67936 24.7466H16.1385C22.9518 24.7466 24.5727 23.1382 24.5727 16.3249V8.86588C24.5727 2.05261 22.9644 0.431641 16.1512 0.431641ZM19.887 17.7813H18.1141C17.4429 17.7813 17.2403 17.2368 16.0372 16.0337C14.986 15.0206 14.5428 14.8939 14.2769 14.8939C13.9097 14.8939 13.8083 14.9952 13.8083 15.5018V17.0975C13.8083 17.5281 13.669 17.7813 12.5419 17.7813C11.4482 17.7078 10.3876 17.3756 9.4475 16.8119C8.50735 16.2483 7.71454 15.4694 7.13438 14.5393C5.75707 12.825 4.79876 10.813 4.33566 8.66323C4.33566 8.39728 4.43694 8.15665 4.94353 8.15665H6.71647C7.17237 8.15665 7.33703 8.35929 7.5143 8.82789C8.37543 11.3607 9.84451 13.5642 10.4397 13.5642C10.6676 13.5642 10.7689 13.4629 10.7689 12.893V10.2842C10.6929 9.09383 10.0598 8.99248 10.0598 8.56195C10.0681 8.44836 10.1204 8.34249 10.2055 8.26682C10.2906 8.19114 10.4019 8.15163 10.5157 8.15665H13.3018C13.6817 8.15665 13.8083 8.34661 13.8083 8.80252V12.3232C13.8083 12.7031 13.973 12.8297 14.0869 12.8297C14.3149 12.8297 14.4921 12.7031 14.9101 12.2852C15.8081 11.19 16.5419 9.96988 17.0883 8.66323C17.1441 8.50601 17.2498 8.37137 17.3893 8.27989C17.5288 8.18841 17.6944 8.14513 17.8608 8.15665H19.6338C20.1657 8.15665 20.2796 8.4226 20.1657 8.80252C19.5205 10.2472 18.7224 11.6186 17.7849 12.893C17.5949 13.1843 17.5189 13.3363 17.7849 13.6782C17.9621 13.9441 18.5827 14.4633 19.0006 14.9572C19.6085 15.5636 20.1132 16.2651 20.4949 17.0342C20.6469 17.5281 20.3936 17.7813 19.887 17.7813Z' fill='white'/%3E%3C/svg%3E%0A");
}

/* copyrights */

.copyrights .container {
    padding-top: 57px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyrights-text {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    letter-spacing: .3px;
    margin-top: 3px;
    margin-bottom: 29px;
}

.copyrights .container ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    max-width: 629px;
    padding-right: 42px;
}

.footer-nav-el a {
    color: var(--footer-text);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

#btnUp {
    display: none;
    position: fixed;
    bottom: 6px;
    right: 2%;
    z-index: 99;
    width: min-content;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #0000;
    box-shadow: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    background-repeat: no-repeat;
    height: 70px;
    background-position: 50.5% 2px;
    color: var(--white);
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.97768 0.165178C7.06696 0.0758927 7.16964 0.03125 7.28571 0.03125C7.40179 0.03125 7.50446 0.0758927 7.59375 0.165178L13.8348 6.40625C13.9241 6.49554 13.9687 6.59821 13.9687 6.71429C13.9687 6.83036 13.9241 6.93304 13.8348 7.02232L13.1652 7.69196C13.0759 7.78125 12.9732 7.82589 12.8571 7.82589C12.7411 7.82589 12.6384 7.78125 12.5491 7.69196L7.28571 2.42857L2.02232 7.69196C1.93304 7.78125 1.83036 7.82589 1.71428 7.82589C1.59821 7.82589 1.49553 7.78125 1.40625 7.69196L0.736606 7.02232C0.64732 6.93304 0.602677 6.83036 0.602677 6.71429C0.602677 6.59821 0.64732 6.49554 0.736606 6.40625L6.97768 0.165178Z' fill='white'/%3E%3C/svg%3E%0A");
}

#btnUp:hover {
    text-decoration: underline;
}


.modal-content {
    background-color: var(--main-color);
}

.modal-header {
    padding: 0;
    border: none;
}

.modal-body {
    display: flex;
    padding: 0;
    height: 600px;
}

.modal-map {
    width: 90%;
    margin: 0 auto;
}

@media only screen and (max-width: 992px) {
    /** ANavbar 992 */
    .btn-feedback {
        max-width: 160px;
    }

    .navbar-nav {
        margin: 0;
        margin-right: 10px;
    }

    .navbar-brand img {
        width: 100%;
        height: auto;
    }

    .nav-item {
        padding: 0;
    }

    .navbar-expand-md .navbar-nav .nav-link {
        font-size: 12px;
        
    }

    .navbar-expand-md .navbar-nav .nav-link:hover {
        margin: 0 !important;
        font-weight: 400;
    }
    /** AFirst Screen 992 */
    h1 {
        margin-bottom: 102px;
    }
    /** AAbout Us 992*/
    .about-us-container {
        max-width: 1314px;
        margin: 0 auto;
        padding: 0 21px 87px 21px;
        display: grid;
        grid-template-columns: 1.47fr 1.2fr;
        grid-template-rows: auto auto;
        gap: 0 10.5%;
        grid-auto-flow: row;
        grid-template-areas:
            "first-pic description"
            "first-pic second-pic";
    }

    .description p {
        font-size: 12px;
    }
    /** AOur Works 992 */
    .our-works {
        min-height: 674px;
    }

    h3 {
        margin: 0;
    }

    .title-name {
        font-size: 20px;
    }

    .title-price {
        font-size: 14px;
    }

    .slider-tools {
        margin: 0 36px 0 0;
    }

    /** AHow we work 992 */
    .how-work {
        min-height:830px ;
    }
   
    .how-work .container {
        margin-top: 138px;
    }

    .how-work-elements img {
        max-width: 150px;
        margin: 0;
    }

    .container .how-work-elements .title {
        font-size: 16px;
        padding: 0;
        margin: 0;
        margin-top: 50px;
        line-height: 25px;
    }

    .container .how-work-elements .subtitle {
        padding: 0;
        font-size: 12px;
        margin-top: 10px;
        line-height: 19px;
    }

    .delivery img {
        margin-top: 20px;
        max-width: 185px;
    }

    .make-order img {
        max-width: 135px;
    }

    .arrow-left {
        max-width: 150px;
    }

    /** AReviews 992 */
    .reviews {
        min-height: 840px;
    }

    .reviews .container {
        flex-wrap: wrap;
        justify-content: center;
        align-items:flex-start;
        margin-top: 106px;
    }

    .reviews .mt {
        margin-top: 0px;
    }

    .reviews .container:last-child .review-block:last-child {
        display: none;
    }

    /** AContact Woth Us 992 */
    .contact-with {
        min-height: 790px;
    }

    .contact-with .container {
        margin-top: 85px;
    }

    .contact-with .container .user-data {
        margin-bottom: 34px;
    }

    .contact-with .container .user-data input,
    .contact-with .container textarea {
        font-size: 13px;
        padding: 0 0 0 20px;
    }

    .contact-with .container .user-data input {
        min-height: 55px;
    }

    .contact-with .container textarea {
        padding-top: 20px;
        min-height: 150px;
    }
    /** AFooter 992  */
    /*? Contact 992 */
    .contacts .container {
        padding-left: 12px;
        padding-right: 12px;
    }

    .contact-info {
        padding-left: 10px;
    }

    .contact-info .content .title {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .subtitle-info {
        font-size: 12px;
    }

    .hotline {
        padding: 0;
    }



}

@media only screen and (max-width: 768px) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 28px;
    }

    /** AFirst Screen 768 */
    .first-screen-container h1 {
        margin-bottom: 75px;
    }

    .first-screen-container ul {
        max-width: 330px;
        margin-bottom: 54px;
        padding: 0;
    }

    .first-screen-container li::after {
        right: -18px;
    }

    .first-screen-container li:first-child::before {
        left: -18px;
    }

    .navbar-brand {
        position: absolute;
        left: 40%;
    }

    .first-screen-container ul li {
        font-size: 12px;
        padding: 0 10px;
    }

    .first-screen-container li::after {
        width: 1px;
        height: 20px;
        top: -1px;
    }

    .first-screen-container li:first-child::before {
        content: "";
        width: 1px;
        height: 20px;
        top: -1px;
    }

    h1 {
        margin-bottom: 90px;
    }

    /** AHow we work  768*/

    .arrow-left,
    .arrow-right {
        display: none;
    }

    .how-work .container {
        flex-wrap: wrap;
        justify-content: center;
        z-index: 2;
        margin-top: 50px;
    }

    .how-work .container .make-order img,
    .how-work .container .delivery img,
    .how-work .container .instalation img {
        transform: scale(.5);
    }

    .how-work .container .how-work-elements p {
        padding: 0;
    }

    .how-work .container .how-work-elements .title {
        font-size: 12px;
        margin: 0;
        line-height: 10px;
    }

    .how-work .container .delivery {
        margin: 0;
    }

    .how-work .container .how-work-elements .subtitle {
        font-size: 10px;
        line-height: 10px;
    }

    /** AOur Works 768 */

    .slider-item {
        padding: 0 15px;
    }

    /** AReviews 768*/

    .reviews .container {
        flex-wrap: wrap;
        padding: 0 12px;
    }

    .review-block {
        min-height: 170px;
        background-position: calc(100% - 28px) 20px;
    }

    .review-block .content {
        padding: 13px 10px 10px 11px;
        position: relative;
    }

    .review-block .content img {
        max-width: 80px;
        margin-right: 30px;
    }

    .review-block .content .info {
        padding: 0;
    }

    .review-block .content .name {
        font-size: 13px;
        margin: 0;
    }

    .review-block .content .review-text {
        font-size: 8px;
        margin: 0;
    }

    .social-networks-icons .link,
    .social-networks-icons .link .ico {
        max-width: 20px;
        height: 20px;
    }


}

@media only screen and (max-width: 576px) {

    .modal-dialog {
        width: 95%;
        margin: 0 auto;
        height: 50vh;
    }

    /* ANavbar 576*/
    .navbar {
        min-height: 100px;
    }

    .navbar-brand {
        position: absolute;
        left: 31%;
    }

    .navbar-brand img {
        max-width: 155px;
    }

    .navbar-toggler {
        position: absolute;
        left: -6px;
        top: 22%;
        box-shadow: none;
        background-repeat: no-repeat;
        width: 20px;
        height: auto;
        background-position: center;
        background-size: 23%;
    }

    /*AFirst screen 576 */
    .first-screen {
        background: url(../img/first-screen/bg-pic-mobile.jpg) no-repeat center;
        position: relative;
        display: block;
        min-height: 796px;
        background-size: cover;
    }

    .first-screen-container {
        margin: 0;
        padding-top: 221px;
    }

    .first-screen h1 {
        font-size: 28px;
        margin-bottom: 86px;
    }

    .first-screen ul li {
        font-size: 10px;
        padding: 0;
        letter-spacing: -1px;
    }

    .first-screen ul {
        padding: 0;
        margin-right: 1px;
        max-width: 321px;
        margin-bottom: 48px;
        margin-top: -1px;
    }

    .first-screen li::after,
    .first-screen li:first-child::before {
        width: 1px;
        height: 14px;
        top: 0;
    }

    /* for all lines */
    .first-screen li:first-child::before {
        left: -19px;
    }

    .first-screen li::after {
        right: -27px;
    }

    /* for last lement */
    .first-screen li:last-child:after {
        right: -20px;
    }


    .first-screen button {
        min-height: 53px;
        max-width: 225px;
        font-size: 14px;
        margin-left: 1px;
        padding-bottom: 2px;
    }

    h1 {
        line-height: 44px;
        margin-bottom: 86px;
    }

    .first-screen .circle {
        display: block;
        width: 117px;
        height: 117px;
        background-color: var(--main-color);
        border-radius: 75px;
        position: absolute;
        bottom: calc(-117px/2);
        left: 50%;
        transform: translate(-50%, 0);
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='11' viewBox='0 0 17 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.0279 9.92855C8.9163 10.0402 8.78795 10.096 8.64286 10.096C8.49777 10.096 8.36942 10.0402 8.25781 9.92855L0.456473 2.12721C0.344866 2.01561 0.289063 1.88726 0.289063 1.74217C0.289063 1.59708 0.344866 1.46873 0.456473 1.35712L1.29353 0.520071C1.40513 0.408463 1.53348 0.35266 1.67857 0.35266C1.82366 0.35266 1.95201 0.408463 2.06362 0.520071L8.64286 7.09931L15.2221 0.520071C15.3337 0.408463 15.4621 0.35266 15.6071 0.35266C15.7522 0.35266 15.8806 0.408463 15.9922 0.520071L16.8292 1.35712C16.9408 1.46873 16.9967 1.59708 16.9967 1.74217C16.9967 1.88726 16.9408 2.01561 16.8292 2.12721L9.0279 9.92855Z' fill='white'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center 30%;
        background-size: 15%;
    }

    /* AAbout us 576*/
    h2 {
        padding-top: 2px;
        margin-bottom: 20px;
    }

    .lines::after {
        width: 43px;
        height: 1.77px;
        bottom: calc(var(--indent) + 30px);
    }

    .lines::before {
        height: 1.77px;
        width: 14.73px;
        bottom: calc(var(--indent) + 19px)
    }

    .about-us-container {
        margin: 0 11px 0 12px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0 3%;
        grid-auto-flow: row;
        grid-template-areas:
            "first-pic description"
            "second-pic description";
        padding: 0;
        height: 335.5px;
    }

    .first-pic {
        max-width: 143px;
        margin: 5px 0 0 5px;
        grid-area: first-pic;
        box-shadow: -13px -13px 0px -9px var(--secondary-color),
            -13px -8px 0px -9px var(--secondary-color);
    }

    .first-pic img {
        box-shadow: none;
    }

    .second-pic {
        max-width: 176px;
        grid-area: second-pic;
        margin-top: 36px;
    }

    .description {
        grid-area: description;
    }

    .description p {
        font-size: 8px;
        margin-bottom: 13px;
    }

    .description .margin-b {
        margin-bottom: 2px;
    }

    .description .read-more {
        margin: 0;
        padding: 0 0 0 34px;
    }

    .figures {
        max-width: 26px;
        left: 90.8%;
        bottom: 29px;
    }

    /* AOur Works 576 */
    .our-works {
        min-height: 369px;
    }

    h3 {
        padding: 0;
        padding-left: 2px;
        letter-spacing: .8px;
        margin-bottom: 0;
    }

    .slick-track {
        min-height: 250px;
    }

    .slider-item {
        padding: 0 10px;
    }

    .title-name {
        font-size: 12px;
        line-height: 18px;
    }

    .title-price {
        font-size: 8px;
        line-height: 8px;
    }

    .slider-tools {
        margin: 0 13px 0 0;
    }

    .slider-tools-counter {
        font-size: 16px;
        line-height: 19.5px;
        margin-right: 31px;
        margin-top: 1px;
    }

    .slider-tools-btns {
        max-width: 70px;
    }

    .slider-tools-btns .slick-prev {
        margin-right: 10px;
    }

    .slider-tools-btns .slick-prev,
    .slider-tools-btns .slick-next {
        min-height: 19px;
        max-width: 30px;
        background-size: 40%;
    }

    .bg-figure {
        bottom: 43px;
        width: 136px;
        height: 107.7px;
    }

    /* AHow We Work 576 */
    .how-work {
        min-height: 853px;
    }

    h4 {
        font-size: 24px;
        line-height: 37px;
        padding: 24px 0 16px 0;
        letter-spacing: 0;
    }

    .how-work .lines::after,
    .how-work .lines::before {
        left: calc(50% + 7px);
    }

    .how-work .container {
        margin-top: 0;
    }

    .make-order img {
        max-width: 204px;
        margin-top: -38px;
        margin-left: 7px;
    }

    .delivery img {
        max-width: 293px;
        margin-right: -8px;
        margin-top: -8px;
    }

    .how-work .container .how-work-elements .title {
        margin-top: -43px;
        max-width: 120px;
        line-height: 18px;
        letter-spacing: 0;
        margin-left: 11px;
    }

    .how-work .container .how-work-elements .subtitle {
        margin-top: 7px;
        font-size: 12px;
        max-width: 274px;
        line-height: 18px;
    }

    .how-work .container .make-order .subtitle {
        letter-spacing: .2px;
    }

    .how-work .container .delivery .title {
        margin: -33px 0 0 0;
        max-width: max-content;
    }

    .how-work .container .delivery .subtitle {
        margin-top: 10px;
    }

    .how-work .container .instalation img {
        margin: -3px 0 0 8px;
        max-width: 206px;
    }

    .how-work .container .instalation .title {
        max-width: 131px;
        margin-right: 14px;
    }

    .how-work .container .instalation .subtitle {
        margin-top: 11px;
        max-width: 293px;
        letter-spacing: .2px;
    }

    .figure {
        max-width: 90px;
        right: 10px;
        bottom: 13px;
    }

    /* AReviews 576 */

    .reviews {
        min-height: 588px;
    }

    h5 {
        padding: 4px 0 0 0;
        font-size: 23px;
    }

    .reviews h5::after {
        bottom: calc(var(--indent) + 32px);
    }

    .reviews h5::before {
        bottom: calc(var(--indent) + 20px);
    }

    .reviews .container {
        margin-top: 26px;
        align-items: flex-start;
        min-height: min-content;
    }

    .review-block {
        min-height: 139px;
        background-position: calc(100% - 8px) 14.5px;
    }

    .review-block .content img {
        max-width: 66.4px;
        margin-right: 24px;
    }

    .review-block .info {
        min-height: 93px;
    }

    .review-block .content .post {
        line-height: 6px;
    }

    .review-block .content .name {
        font-size: 10px;
    }

    .review-block .content .review-text {
        line-height: 11px;
        padding-left: 90px;
    }

    .review-block .content .social-networks-icons {
        margin-top: 0;
        margin-left: 5px;
    }

    .social-networks-icons .link {
        max-width: 15px;
        margin-right: 5px;
    }

    .reviews .mt {
        margin-top: 0;
    }

    /* AContact With Us 576 */

    .contact-with {
        min-height: 483px;
    }

    h6 {
        padding: 0;
        font-size: 24px;
        padding-top: 4.5px;
        letter-spacing: .6px;
    }

    .contact-with h6::after {
        bottom: calc(var(--indent) + 33px);
    }

    .contact-with h6::before {
        bottom: calc(var(--indent) + 22px);
    }

    .contact-with .container {
        margin-top: 67px;
        padding: 0 11.3px;
        justify-content: flex-start;
    }

    .contact-with .container .user-data {
        flex-wrap: wrap;
        margin-bottom: 0;
    }

    .contact-with .container .user-data input,
    .contact-with .container textarea {
        font-size: 18px;
    }

    .contact-with .container .user-data input {
        min-height: 46.88px;
        margin-bottom: 23.2px;
        padding: 0 0 0 27px;
    }

    .contact-with .container textarea {
        min-height: min-content;
        margin: 0 0 39px 0;
        padding: 15px 0 0px 26px;
        height: 60px;
    }

    .contact-with .container button {
        max-width: 226px;
        min-height: 53px;
        margin: 0;
        font-size: 14px;
    }

    .contact-with .container .user-data input:first-child {
        margin-right: 0px;
    }
    
    .contact-with .container .user-data input:last-child {
        margin-left: 0px;
    }

    /* AContacts 576 */
    .contacts {
        min-height: 465px;
    }

    .contacts .container {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        padding: 18px 12px 0 12px;
        align-items: flex-start;
    }

    .contact-info {
        max-width: 338px;
        padding: 0;
    }

    .contact-info .content:last-child,
    .reviews .container:last-child .review-block:last-child {
        display: none;
    }

    .content {
        margin: 0;
    }

    .contact-info .content .title {
        font-size: 12px;
        line-height: 18px;
        margin: 0;
        margin-bottom: 21px;
        letter-spacing: .6px;
    }

    .contact-info .content .subtitle .subtitle-info {
        font-size: 12px;
        line-height: 18px;
    }

    .hotline {
        padding: 0;
    }

    .mb {
        margin-bottom: 19px;
    }

    .map {
        margin-top: 5px;
        height: 170px;
    }

    /* ACopytights 576 */
    .copyrights {
        min-height: 83px;
    }

    .copyrights .container {
        padding: 0;
    }

    .copyrights-text {
        font-size: 12px;
        margin: 0;
        margin-top: 33px;
    }

    #btnUp {
        right: -.5%;
        bottom: 1px;
    }

    .copyrights .container ul {
        display: none;
    }
}